<form class="form-inline w-100 my-4" method="post" action="/Products/Search"     >
    <div class="row w-100">
        <div class="col-8">
            <input type="text" class="form-control w-100" placeholder="Search"  name="keyword">
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>