<div class="col">
	<form class="form-inline my-4 form-group" method="post" action="/Products/Search">
		<input type="text" class="form-control w-50" placeholder="Search" name="keyword" />
		<button type="submit" class="btn btn-primary btn-block w-50">Search</button>
	</form>
</div>
