@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@foreach (var p in Model)
{
	if (p.Disable == false || User.IsInRole("Admin"))
	{
	<div class="card card- bg-dark text-light h-50">
		<img src="@p.ImageUrl" class="card-img-top img-fluid" style="height:300px;" alt="...">
		<div class="p-4">
			<h5 class="card-title">@p.Name</h5>
			<p class="card-text">&euro;@p.Price</p>
			<a href="/Products/Details?id=@p.Id" class="btn btn-primary btn-block"><i class="fas fa-info"></i> View Specification</a>
			@if (User.IsInRole("Admin"))
			{
				<a href="/Products/Delete?id=@p.Id" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Delete</a>
				@if (p.Disable == true)
				{
					<a href="/Products/Show?id=@p.Id" class="btn btn-success btn-block"><i class="fas fa-eye"></i> Show</a>
				}
				else
				{
					<a href="/Products/Hide?id=@p.Id" class="btn btn-secondary btn-block"><i class="fas fa-eye"></i> Hide</a>
				}
			}

			@if (User.IsInRole("User") || User.IsInRole("Admin"))
			{
				<br/>
				<form method="get" asp-controller="Products" asp-action="AddToCart" class="row w-100 mx-auto">
					<div class="col-6">
						<input type="hidden" name="id" value="@p.Id"/>
						<input type="number" name="quantity" class="form-control h-100" value="1" min="1"/>
					</div>

					<div class="col-6">
						<button type="submit" class="btn btn-success btn-block"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
					</div>
				</form>
			}
		</div>
	</div>
	}
}