@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-shopping-cart"></i> Welcome to the Shopping Cart! <i class="fas fa-shopping-cart"></i></h1>
        <h3>Andrew Schembri 6.2B</h3>
    </div>
</div>
